@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body {
	background-color: #fff;
}

.interface {
	background-color: rgba(0, 0, 0, .2);
	height: auto;
	padding-bottom: 10px;
}

/**********/
/***MENU***/
/**********/
.navbar {
	text-align: center !important;
}

.nav li {
	display: inline-block !important;
	padding-top: 5px;
	text-align: left;
}

.nav li a {
	color: #ddd;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #333;
	border-radius: 5px;
}
.nav li a:hover{
	color: #fff;
	background-color: #333;
	border-radius: 5px;

}

.navbar-brand {
	color: #fff;
}

.navbar-brand:hover {
	color: #fff;

}

.navbar-toggle {
	background-color: #fff;
}

.navbar-toggle span {
	background-color: #000;
}


/***************/
/***CABECALHO***/
/***************/
.page-header {
	margin-top: 85px;
	text-align: center;
}

.page-header h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 23pt;
	font-weight: bold;
	margin: auto;
	color: #fff;
}

/***************/
/***MYSECTION***/
/***************/
.mysection {
	padding-top: 15px;
	width: 100%;
	height: auto;
}

.mysection .row{
	margin-bottom: -10px;
}

blockquote {
	font-size: 15pt;
	font-weight: bold;
	color: #000;
	text-align: left;
	margin-top:  -30px;
}

/*************/
/***OFERTAS***/
/*************/
.jumbotron {
	text-align: center;
	background-color: #fff;
}

.img-prod {
	margin: auto auto 10px auto;
}

.oferta {
	margin: 0px auto 0px auto;
	padding-bottom: 5px;
	border: 1px solid #aaa;
}

.oferta h3 {
	font-size: 10pt;
	text-transform: uppercase;
	color: #700;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 17pt;
}

/*******************/
/***MEDIA QUERIES***/
/*******************/
@media only screen and (min-width: 100px) and (max-width: 767px) {

	.page-header h1 {
		
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 17pt;
		font-weight: bold;
		margin: auto;
		color: #fff;
	}

	.navbar-brand {
		//margin-top: 85px;
		text-align: right;
	}

	.navbar-brand {
		font-family: 'Ubuntu Condensed', sans-serif;
	}

	.navbar-brand {
		font-size: 19pt;
		color: #fff;
	}

	.navbar {
		margin-bottom: -20px;
	}

	.nav li {
		display: block !important;
		padding: 1px;
	}
}

@media only screen and (max-width: 206px) {

	.mysection {
		padding: 0;
	}
}