@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body {
	/*background-color: #fff;*/
}

.interface {
	height: auto;
	padding-bottom: 10px;
}

/**********/
/***MENU***/
/**********/
.navbar {
	text-align: center !important;
    z-index: 20;
}

.nav li {
	display: inline-block !important;
	padding-top: 5px;
	text-align: left;
}

.nav li a:focus {
    background-color: #333;
}

.nav li a {
	color: #fff;
    font-size: 11pt;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}
.nav li a:hover,
.dropdown-menu{
	color: #fff;
	background-color: #333;
	border-radius: 5px;
}

.dropdown-toggle:active {
    background-color: #fff;
}

.navbar-toggle {
    background-color: #fff;
}

.navbar-toggle span {
    background-color: #ccc;
}

/***dropdown***/
    /* -- Cor ao clicar e expandir o dropdown*/
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
      background-color: #333;
    }

    .dropdown-menu {
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .dropdown-menu li a:hover {
        color: #333;
    }


/***************/
/***CABECALHO***/
/***************/
.page-header {
	margin-top: 10px;
	margin-bottom: -10px;
	text-align: center;
    z-index: -20;
}

.page-header h1 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 23pt;
	font-weight: bold;
	margin: auto;
	color: #fff;
}

/***************/
/***MYSECTION***/
/***************/
.mysection {
	padding-top: 10px;
	width: 100%;
	height: auto;
}

.mysection .row{
	margin-bottom: -10px;
}


.blocktitulo {
    font-weight: bold;
    color: #fff;
}

/***********/
/***JUMBO***/
/***********/
.jumbotron {
	background-color: transparent;
}


/*************/
/***OFERTAS***/
/*************/
.oferta {
	text-align: center;
	margin: 0px auto 0px auto;
	padding-bottom: 5px;
	border: 1px solid #aaa;
    background-color: #fff;
}

.oferta h3 {
	font-size: 10pt;
	text-transform: uppercase;
	color: #700;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 17pt;
}

.img-prod {
	margin: auto auto 10px auto;
}

/**********/
/***FORM***/
/**********/
.form {
    text-align: center;
}

.form .input {
    width: 60%;
    height: 2em;
    font-size: 15pt;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 2px;
}

.form .qtproduto {
    width: 12%;
    height: 2em;
    font-size: 15pt;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 7px;
}

.form .input:focus {
    background-color: #ffb;
}

.form .botaosubmit,
.botaosubmit {
    border-radius: 5px;
    padding: 10px;
    background-color: #ffa500;
    color: #fff;
    font-weight: bold;
}

.form .botaosubmit:focus,
.botaosubmit:focus {
    border: 1;
}

.btn-add {
	margin: 5px;
}


/**************************/
/***TABELA DE RESULTADOS***/
/**************************/
.btn-ed-ex {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
}

/*********TABELA COMPARACAO*********/

.nomeLista,
.nomeProduto {
	text-align: center;
}

.nomeLista h3,
.nomeProduto h3 {
	color: #00f;
}

.tabela-comparacao,
.tabela-result {
	margin: 0 auto;
	background-color: #eee;
	font-size: 15pt;
}

.tabela-comparacao td,
.tabela-result td {
	padding: 5px;
}

.tabela-comparacao thead,
.tabela-result thead {
	color: #000;
	background-color: #fcc;
	font-weight: bold;
	text-align: center;
}

.tabela-comparacao .total {
	background-color: #f00;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.tabela-comparacao .mapabtn {
	background-color: #fc9;
	font-weight: bold;
	text-align: center;
}

.mapabtn td .botaosubmit {
    border-radius: 5px;
    background-color: #ffa500;
    color: #fff;
    font-weight: bold;
}


/**********/
/***MAPA***/
/**********/
.map-canvas {
	margin: 0 auto;
	height: 450px;
	width: 520px;
	float: right;
	z-index: 1;
}


.msg-alert span {
	margin-top: 30px;
	text-align: center;
	font-size: 100pt;
}

/*******************/
/***MEDIA QUERIES***/
/*******************/
@media only screen and (min-width: 0px) and (max-width: 563px) {

	.page-header h1 {
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 17pt;
		font-weight: bold;
		margin: auto;
		color: #fff;
	}

	.navbar-brand {
		text-align: right;
	}

	.navbar-brand {
		font-family: 'Ubuntu Condensed', sans-serif;
	}

	.navbar-brand {
		font-size: 19pt;
		color: #fff;
	}

	.navbar {
		margin-bottom: -20px;
	}

	.nav li {
		display: block !important;
		padding: 1px;
	}

    .oferta h3,
    .oferta h4{
        font-size: 12pt;
    }

    .oferta h3 small {
        font-size: 12pt;
    }

    .formulario .input {
        width: 250px;
    }

    .mysection .row .mapa {
		margin: 0 auto;
		width: 10%;
	}

	.form .input {
	    font-size: 13pt;
	}
}

@media only screen and (min-width: 564px) and (max-width: 767px) {

    .formulario .input {
        width: 450px;
    }

    #mapholder {
		margin: 0 auto;
		width: 10%;
	}

	.nav li {
		display: block !important;
		padding: 1px;
	}

}

@media only screen and (max-width: 300px) {

    .blocktitulo {
        font-size: 12pt;
    }

	.mysection {
		padding: 0;
	}

    .formulario .input {
        width: 180px;
    }

    .nav li {
		display: block !important;
		padding: 1px;
	}
}

@media only screen and (min-width: 300px) {

    .blocktitulo {
        font-size: 12pt;
    }

	.mysection {
		padding: 0;
	}

    .formulario .input {
        width: 52%;
    }

}